   body {
      font-family: monospace;
      background-color: #000;
      color: #eee;
      text-align: center;
      padding: 2rem;
    }
    .title-box {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      line-height: 1.3;
}
    .progress,
    .clue {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 2rem 0 2rem 0;
    }
    .feedback {
      font-size: 1rem;
      margin: 1rem 0;
      font-weight: bold;
      color: #1685f8;
    }
    #guess {
      padding: 0.5rem;
      font-size: 1rem;
      padding: 0.5rem;
  	  font-size: 1rem;
  	  background-color: #f4f4f4;  
 	  border: 1px solid #ccc;     
 	  color: #222;                 
      }
    #submit {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
    #attempts {
      color: #e900ff;
      font-size: 2.0rem;
      margin-bottom: 0.25rem;
      letter-spacing: 0.5rem;
    }
    .input-area {
      margin-top: 0.5rem;
    }
.neon-purple {  /* hot purple */
  color: #e900ff;
}
.neon-blue {  /* hot blue */
  color: #1685f8;
  }
.title-top {  /* title purple */
  color: #e900ff;
}
.title-bottom {  /* title blue */
  color: #1685f8;
}
.purple-underline { /* first word not guessed purple */
  color: #e900ff; 
  letter-spacing: 0.1rem;
}
.blue-underline {  /* second word not guessed purple */
  color: #1685f8;
  letter-spacing: 0.1rem;
}
#help-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #111;
  color: #eee;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 500px;
  text-align: left;
  position: relative;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}
